<footer class="bg-grey-1 ph3 pv4 black">

  <div class="mw6 center pt3">

    <div class="measure-narrow center mb4">

      <img src="/img/mikaelle_logo.png" alt="Mikaelle Art logo" class="db w4 center mb4 br0">
    </div>

    <div class="flex-ns justify-between">

      <div>
        <h3 class="f4 b lh-title mb1 primary">Mikaelle Art</h3>
        <ul class="mb3">
          <li><a href="/" class="link">Accueil</a></li>
          <li><a href="/products" class="link">Produits</a></li>
          <li><a href="/values" class="link">Biographie</a></li>
          <li><a href="/realisations" class="link">Réalisations</a></li>
          <li><a href="/contact" class="link">Contact</a></li>
        </ul>
      </div>

      <div>
        <h3 class="f4 b lh-title mb2 primary">Social media</h3>
        <ul class="mhn2">
          {{ partial "social-icon" (dict "link" "https://www.instagram.com/mikaellemai" "svg" "icons-instagram" "alt" "Mikaelle sur Instagram") }}
          {{ partial "social-icon" (dict "link" "https://www.facebook.com/mikaellemai" "svg" "icons-facebook" "alt" "Mikaelle sur Facebook") }}
        </ul>
      </div>

    </div>
  </div>

</footer>